{% extends "base.html" %}

{% block content %}

	<div class="row">
		<div class="col-md-2">
			<h5><Strong>Categories</strong></h5>
				<ul>
					{% for category in categories %}
						<a href="{{url_for('showCategory', catalog_id = category.id )}}">
							<li>
								{{category.name}}
							</li>
						</a>
					{% endfor %}
				</ul>
		</div>


		<div class="col-md-10">
			<h6><strong>Latest Items</strong></h6>
				<ul>
					{% for categoryItem in categoryItems %}
						<a href="{{url_for('showCategoryItem', catalog_id = categoryItem.category_id ,item_id = categoryItem.id )}}">
							<li>
								{{categoryItem.name}}
								({{categoryItem.category.name}})
							</li>
						</a>
					{% endfor %}
				</ul>

				{% if 'username' in session %}
					<a href="{{url_for('addCategoryItem')}}" class="btn btn-info">Add Item</a>
				{% endif %}

		</div>
	</div>

{% endblock %}